<div class="row">
  <canvas
    class="ex-line-graph"
    data-chart="line"
    data-scale-line-color="transparent"
    data-scale-grid-line-color="rgba(255,255,255,.05)"
    data-scale-font-color="#a2a2a2"
    data-labels="<%= @dates %>"
    data-value="[{fillColor: 'rgba(28,168,221,.03)', data: <%= @amounts %>}]">
  </canvas>
</div>
