<div class="col-md-12">
	<div class="col-md-6">
	<h1>Leaderboard</h1><p>(Trailing 90 days)</p><br>

  <table class="table">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Athlete</th>
        <th>Total Pushups</th>
      </tr>
    </thead>
    <tbody>
  	<% @leaders.each_with_index do |leader, idx| %>
  		<tr>
        <td><%= idx + 1 %></td>
  			<td><%= public_avatar(leader) %> <%= leader.public_name %></td>
        <td><%= number_with_delimiter(leader.total_pushups_cache) %></td>
  		</tr>
  	<% end %>
    </tbody>
  </table>

	</div>
</div>
