# Ignore bundler config.
/.bundle
/vendor/bundle/

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Netbeans project directory
/nbproject/

# RubyMine project files
.idea

# Textmate project files
/*.tmproj

# vim artifacts
**.swp

.idea/workspace.xml
.byebug_history

/public/assets
.bin
# Ignore environment variables
/config/application.yml
.cache
.DS_Store
.idea
# Ignore custom initializers
