<% @reminders.each do |reminder| %>
  <% if reminder.time.present? %>
    <p>You're currently getting <strong>daily reminders</strong> at <%= reminder.time.strftime("%l" + ":" + "%m %p") %>.</p>
  <% end %>
  <p>If you want to update your reminder, remove it below and add it again.</p>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
		<% @reminders.each do |reminder| %>
      <tr>
        <td><%= reminder.phone_number %></td>
        <td><%= link_to 'Delete', reminder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
		<% end %>
  </tbody>
</table>
