<div class="col-md-12">
	<div class="col-md-4">
	<h1>Add your Phone</h1><br>
	<p>Get daily text reminders to stay fit. Respond with an amount at any time for instant logging.</p><br>
	<%= render 'form' %>
	</div>
</div>
