<!-- Customize the following for each page of your app. -->
<% meta title: "Home", description: "Track pushups. Get stronger." %>
<div class="jumbotron">
	<h1>Do pushups. Get stronger.</h1><br>
	<%= image_tag "pushup_metrics_dashboard.png", class: "auto img-responsive" %><br>
	<%= link_to "Get Started", signup_path, class: "btn btn-lg btn-primary" %>
</div>
