SENDGRID_USERNAME: asdf
SENDGRID_PASSWORD: fdsa
FORECAST_API_KEY: 1234
GALVANIZE_SF_LAT: '37.7876131'
GALVANIZE_SF_LON: -122.3966376
MIXPANEL_TOKEN: asdf
TWILIO_ACCOUNT_SID: AC0234234
TWILIO_AUTH_TOKEN: '45oiuh34jksfd'
TWILIO_PHONE_NUMBER: '+14158675309'
GALVANIZE_SLACK_WEBHOOK: 'https://hooks.slack.com/services/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'
WOODIES_SLACK_WEBHOOK: 'https://hooks.slack.com/services/insert-here'
