// Global
body {font-family: Helvetica, Arial}
.jumbotron {background-color: transparent; text-align: center}
.gap {margin-top: 60px}
.btn-primary {background-color: transparent; border-radius: 2px; border: 3px solid #4ea7d9;}
.btn-default {background-color: transparent; border-radius: 2px; border: 3px solid #fff; color: white}
.auto {margin-left: auto; margin-right: auto; display: block}
.inline {display: inline}
.btn.btn-primary.inline {float:right}
.btn.btn-default.inline {float:right; margin-right: 5px}
div.statcard {margin: 3px}
.datepicker:enabled {color: white}
.pagination a, a:hover {text-decoration: none;}
p.teams {font-size: 16px}

// Navbar
.navbar {background-color: transparent; border: none}
.navbar-default .navbar-nav > li > a {color: #fff;}
.navbar a.navbar-brand {color: #fff;}
.navbar .btn-default {padding-top: 5px; padding-bottom: 5px; margin-top: 10px;}
#navigation-icons a {display: inline-block; padding-left: 4px}
/*.navbar ul li a {display: inline-block; padding-left: 4px}*/
.navbar ul li:hover {color: #4ea7d9}
.navbar ul li:hover a:hover {color: #4ea7d9}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .btn.btn-default.inline {display: none}
}

/* User Authentication */
.form-signin {max-width: 350px; padding: 15px; margin: 0 auto;}
.form-signin .form-signin-heading, .form-signin .checkbox {margin-bottom: 10px;}
.form-signin .checkbox {font-weight: normal;}
.form-signin .form-control {position: relative; height: auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 10px; font-size: 16px;}
.form-signin .form-control:focus {z-index: 2;}
.form-signin input {margin-bottom: 10px;}
.form-signin input {margin-bottom: 0;}
